body {
  background-color: aliceblue;
}

h1 {
  color: navy;
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  text-align: center;
}

#subheading {
  color: #003153;
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  text-align: center;
}

footer {
  color: darkgreen;
  text-align: center;
  padding: 10px;
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}

main {
  background-color: rgba(255, 255, 255, 0.456);
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  margin: 20px auto;
}

.input {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 128, 0.419);
  width: 75%;
  padding: 10px;
  border: 1px solid aliceblue;
  font-size: 25px;
}

.button {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(255, 255, 255);
  color: navy;
  width: 20%;
  padding: 10px;
  margin-left: 15px;
  border: 1px solid aliceblue;
  font-size: 25px;
  text-align: center;
}

#instructions {
  color: black;
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: left;
}

.poem {
  background-color: rgba(255, 255, 255, 0.456);
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  text-align: left;
  margin: 20px auto;
}

.poem-text {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  color: #003153;
  font-size: 30px;
  text-align: center;
}
